<!-- <app-task></app-task> -->
<!-- <app-user-signup></app-user-signup> -->
<div class="container mt-3">
    <a routerLink="table">
        <button type="submit" class="btn btn-primary text-white">Table Task</button>
    </a> &nbsp;&nbsp;&nbsp;
    <a routerLink="logIn">
        <button type="submit" class="btn btn-success">Already a user ? Log In</button>
    </a> &nbsp;&nbsp;&nbsp;
    <a routerLink="signUp">
        <button type="submit" class="btn btn-danger text-white">New User ? Sign Up</button>
    </a> &nbsp;&nbsp;&nbsp;
</div>
<router-outlet></router-outlet>