<h1 class="text-white">Table Records</h1>


<!-- Button trigger modal -->
&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Record
</button> <br> <br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addUser" (ngSubmit)="addRecord()">
                    <input type="text" name="name" placeholder="Enter Name" class="w-100" id="name" formControlName="name"> <br>
                    <span style="color: red;" *ngIf="addUser.controls['name'].invalid && addUser.controls['name'].touched">Field is required</span>
                    <br>
                    <input type="email" name="email" placeholder="Enter Email" class="w-100" id="email" formControlName="email"> <br>
                    <span style="color: red;" *ngIf="addUser.controls['email'].invalid && addUser.controls['email'].touched">Field is required</span>
                    <br>
                    <input type="number" name="age" placeholder="Enter Age" class="w-100" id="age" formControlName="age"> <br>
                    <span style="color: red;" *ngIf="addUser.controls['age'].invalid && addUser.controls['age'].touched">Field is required</span>
                    <br>
                    <input type="text" name="city" placeholder="Enter City" class="w-100" id="city" formControlName="city"> <br>
                    <span style="color: red;" *ngIf="addUser.controls['city'].invalid && addUser.controls['city'].touched">Field is required</span>
                    <br>
                    <input type="text" name="country" placeholder="Enter Country" id="country" class="w-100" formControlName="country"> <br>
                    <span style="color: red;" *ngIf="addUser.controls['country'].invalid && addUser.controls['country'].touched">Field is required</span>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" [disabled]="addUser.invalid">Add Record</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>City</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i=index;">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.country}}</td>
            <td>
                <button type="submit" (click)="deleteEmployee(i)">Delete</button> &nbsp; &nbsp;
                <!-- Button trigger modal -->
                <button type="submit" class="btn btn-primary" (click)="updateEmployee(i)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Update
                </button>
            </td>
        </tr>
    </tbody>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addUser">
                        <input type="text" name="name" placeholder="Enter Name" class="w-100" id="name"
                            formControlName="name"> <br> <br>
                        <input type="email" name="email" placeholder="Enter Email" class="w-100" id="email"
                            formControlName="email"> <br> <br>
                        <input type="number" name="age" placeholder="Enter Age" class="w-100" id="age"
                            formControlName="age"> <br> <br>
                        <input type="text" name="city" placeholder="Enter City" class="w-100" id="city"
                            formControlName="city"> <br> <br>
                        <input type="text" name="country" placeholder="Enter Country" id="country" class="w-100"
                            formControlName="country"> <br> <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="addUser.invalid" (click)="updateEmployeeData()">Update Record</button>
                </div>
            </div>
        </div>
    </div>
</table>